<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rustero"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".App"
        android:icon="@drawable/app_icon_96"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="rustero.encryptedvideorecorder.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"/>
        </provider>

        <activity android:name=".app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter
                android:icon="@drawable/app_icon_96"
                android:label="SAVI File"
                android:priority="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.savi"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.RecordActivity"
            android:label="RecordActivity"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name=".app.ReplayActivity"
            android:label="PlayActivity">
        </activity>
        <activity
            android:name=".app.ExportActivity"
            android:label="PlayActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".app.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".app.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme">
        </activity>

        <service
            android:name=".app.RecordService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest> <!-- <bufData android:mimeType="*/*" /> -->
